@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRUEBA TÉCNICA</h1>
    <p class="lead">
        Se requiere un pequeño sistema de control de una playa de estacionamiento con clientes por
        suscripción. Deben ser posibles las siguientes funcionalidades:
    </p>
    <ul>
        <li>
            Registrar, modificar, listar, filtrar y eliminar clientes.
        </li>
        <li>
            Registrar, modificar, listar, filtrar y eliminar autos de los clientes.
        </li>
        <li>
            Registrar, modificar, listar, filtrar y revocar plazas de estacionamiento a clientes.
        </li>
    </ul>
    <p>
        La información clientes, autos y estacionamientos debe estar almacenada en una base de datos. La
        estructura de la BD y los campos de las tablas quedan a tu criterio. El sistema deberá contar con
        autenticación para su uso.
    </p>
    <p>
        La aplicación debe ser creada en C# con WebApi (es libre de elegir algún framework disponible). La
        interfaz (es libre de elegir el framework a utilizar) debe ser adecuada para cada pantalla y tener al
        menos un nivel de usabilidady estilos en CSS aceptable. Los campos dependientes en formularios
        deben ser llenados asíncronamente.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Consideraciones</h2>
        <p>
            La prueba debe ser desarrollada usando SQLSRV como base de datos. Se debe respetar la
            arquitectura WebApi. Se evaluará la lógica concebida para la funcionalidad, la legibilidad del
            código creado y el uso de buenas prácticas de programación.
        </p>
    </div>
</div>